### Data Cleaning

>**import** basic libraries

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

> **Load** the Extracted Dataset and **Analyse** the Null Data

In [17]:
data = pd.read_csv("Collected_data_falcon_9.csv")

data.isnull().sum()/data.count() * 100

FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass       15.068493
Orbit              0.598802
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        18.309859
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

> **Fill** Missing data using Suitable Operation:

| Feature     | Percentage of Null Value | Data Type  | Type        | Remarks                              |
|-------------|------------|------------|-------------|--------------------------------------|
| PayloadMass | 15%        | int        | Discrete    | Filled with mean of 'PayloadMass' as per Orbit |
| Orbit       | 0.6%       | float64    | Categorical | Not much effect on Data, Drop       |
| LandingPad  | 18%        | boolean    | Categorical | No data available, Drop             |

In [18]:
orbits_values = list(data['Orbit'].value_counts().keys())
orbits_values

orbit_mean_payload = {}     # key->"string" | Value->"float"
for orb in orbits_values:
    temp_data = data[data['Orbit'] == orb]
    # Calculate the mean of the payload for "LEO" orbit
    mean_payload = float(temp_data['PayloadMass'].mean())
    if mean_payload>=0:
        orbit_mean_payload[orb] = round(mean_payload)
    else:
        orbit_mean_payload[orb] = 0


for key, value in orbit_mean_payload.items():

    print(f"Filling Value for {key}  by --> {value} \n")
    data.loc[(data['Orbit'] == key) & (data['PayloadMass'].isna()), 'PayloadMass'] = value

    
data.isnull().sum()

Filling Value for VLEO  by --> 14386

Filling Value for ISS  by --> 3654

Filling Value for GTO  by --> 5043

Filling Value for LEO  by --> 3308

Filling Value for PO  by --> 8601

Filling Value for SSO  by --> 2106

Filling Value for MEO  by --> 3828

Filling Value for GEO  by --> 3938

Filling Value for TLI  by --> 674

Filling Value for ES-L1  by --> 570

Filling Value for HEO  by --> 350

Filling Value for SO  by --> 0

FlightNumber       0
Date               0
BoosterVersion     0
PayloadMass        1
Orbit              1
LaunchSite         0
Outcome            0
Flights            0
GridFins           0
Reused             0
Legs               0
LandingPad        26
Block              0
ReusedCount        0
Serial             0
Longitude          0
Latitude           0
dtype: int64

In [19]:
data.shape[0]

168

In [20]:
print(f"Before Dropping Null Rows: No.of Rows-> {data.shape[0]}")
data.dropna(inplace=True, axis=0)
print(f"After Dropping Null Rows: No.of Rows-> {data.shape[0]}")

Before Dropping Null Rows: No.of Rows-> 168
After Dropping Null Rows: No.of Rows-> 141

> **Analyse** Unique values and find Insights for Data Manipulations

In [21]:
for cols in data.columns:
    print(f"\n\n--------------")
    print(data[cols].value_counts())

--------------
FlightNumber
12     1
14     1
16     1
17     1
18     1
      ..
164    1
165    1
166    1
167    1
168    1
Name: count, Length: 141, dtype: int64


--------------
Date
2015-01-10    1
2015-04-14    1
2015-06-28    1
2015-12-22    1
2016-01-17    1
             ..
2022-08-28    1
2022-08-31    1
2022-09-17    1
2022-09-24    1
2022-10-05    1
Name: count, Length: 141, dtype: int64


--------------
BoosterVersion
Falcon 9    141
Name: count, dtype: int64


--------------
PayloadMass
13260.0    30
15600.0    27
3654.0      8
3308.0      6
9600.0      5
           ..
330.0       1
2240.0      1
2200.0      1
700.0       1
678.0       1
Name: count, Length: 62, dtype: int64


--------------
Orbit
VLEO    54
ISS     27
GTO     19
LEO     11
SSO     11
PO      10
MEO      4
GEO      2
TLI      2
HEO      1
Name: count, dtype: int64


--------------
LaunchSite
CCSFS SLC 40    74
KSC LC 39A      44
VAFB SLC 4E     23
Name: count, dtype: int64


--------------
Outcome
True ASDS     109
True RTLS      22
False ASDS      7
None ASDS       2
False RTLS      1
Name: count, dtype: int64


--------------
Flights
1     42
2     21
4     14
3     13
6     10
5      9
7      7
9      6
8      5
10     5
11     3
12     3
13     3
Name: count, dtype: int64


--------------
GridFins
True    141
Name: count, dtype: int64


--------------
Reused
True     99
False    42
Name: count, dtype: int64


--------------
Legs
True    141
Name: count, dtype: int64


--------------
LandingPad
5e9e3032383ecb6bb234e7ca    57
5e9e3033383ecbb9e534e7cc    39
5e9e3033383ecb075134e7cd    20
5e9e3032383ecb267a34e7c7    17
5e9e3032383ecb554034e7c9     6
5e9e3032383ecb761634e7cb     2
Name: count, dtype: int64


--------------
Block
5.0    113
3.0     10
1.0      6
2.0      6
4.0      6
Name: count, dtype: int64


--------------
ReusedCount
12    25
9     20
1     20
0     13
13    12
3     11
5     11
6     11
8      9
2      5
4      4
Name: count, dtype: int64


--------------
Serial
B1060    13
B1051    12
B1058    12
B1049    10
B1061    10
B1062     9
B1063     7
B1067     6
B1059     5
B1052     4
B1048     4
B1056     4
B1071     4
B1073     3
B1046     3
B1047     2
B1069     2
B1035     2
B1031     2
B1029     2
B1021     2
B1015     1
B1012     1
B1018     1
B1022     1
B1020     1
B1017     1
B1019     1
B1028     1
B1026     1
B1025     1
B1023     1
B1041     1
B1039     1
B1038     1
B1040     1
B1032     1
B1042     1
B1043     1
B1045     1
B1036     1
B1050     1
B1072     1
B1077     1
Name: count, dtype: int64


--------------
Longitude
-80.577366     74
-80.603956     44
-120.610829    23
Name: count, dtype: int64


--------------
Latitude
28.561857    74
28.608058    44
34.632093    23
Name: count, dtype: int64

>  viewing above data, **convert Data** in Model Readable form, Data Requires these Data Manipulation Techniques:

| Feature        | Data Manipulation Technique      |
|----------------|----------------------------------|
| Flight number  | Drop                            |
| Date           | Drop                            |
| Booster        | Drop                            |
| Payload mass   | Convert to float                 |
| Orbit          | One Hot Encoding                |
| Launch site    | One Hot Encoding                |
| Outcome        | 0 or 1 (in float) based on Failure/Success |
| GridFins       | Only True; Drop                 |
| Reused         | Convert to float                 |
| Legs           | Convert to float                 |
| Landing pad    | One Hot Encode                  |
| Block          | One Hot Encode                  |
| Reused_count   | Convert to float                 |
| Serial         | One Hot Encode                  |
| Longitude      | Drop                            |
| Latitude       | Drop                            |

> **Create** <code>Class</code> and Assign value to 0 or 1 based on <code>Outcome</code>

In [22]:
bad_outcome = ['False ASDS', 'False RTLS', 'None ASDS']
data['Class'] = data['Outcome'].apply(lambda x: 0 if x in bad_outcome else 1)
print(data['Class'].value_counts())
print(data['Outcome'].value_counts())

Class
1    131
0     10
Name: count, dtype: int64
Outcome
True ASDS     109
True RTLS      22
False ASDS      7
None ASDS       2
False RTLS      1
Name: count, dtype: int64

> **Drop** Unnecessary Columns (that has only 1 value)

In [23]:
data = data.drop(columns=['FlightNumber' , 'Date', 'BoosterVersion', 'GridFins', 'Longitude', 'Latitude', 'Outcome'])
data.head(2)

,PayloadMass,Orbit,LaunchSite,Flights,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Class
11,2395.0,ISS,CCSFS SLC 40,1,False,True,5e9e3032383ecb761634e7cb,1.0,0,B1012,0
13,1898.0,ISS,CCSFS SLC 40,1,False,True,5e9e3032383ecb761634e7cb,1.0,0,B1015,0

> Do **One Hot Encoding** to respective Columns: <code>['Orbit', 'LaunchSite' , 'LandingPad' , 'Block', 'Serial']</code>

In [24]:
data = pd.get_dummies(data, columns = ['Orbit', 'LaunchSite' , 'LandingPad' , 'Block', 'Serial'])
data.head(2)

,PayloadMass,Flights,Reused,Legs,ReusedCount,Class,Orbit_GEO,Orbit_GTO,Orbit_HEO,Orbit_ISS,...,Serial_B1060,Serial_B1061,Serial_B1062,Serial_B1063,Serial_B1067,Serial_B1069,Serial_B1071,Serial_B1072,Serial_B1073,Serial_B1077
11,2395.0,1,False,True,0,0,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
13,1898.0,1,False,True,0,0,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 141 entries, 11 to 167
Data columns (total 74 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   PayloadMass                          141 non-null    float64
 1   Flights                              141 non-null    int64
 2   Reused                               141 non-null    bool
 3   Legs                                 141 non-null    bool
 4   ReusedCount                          141 non-null    int64
 5   Class                                141 non-null    int64
 6   Orbit_GEO                            141 non-null    bool
 7   Orbit_GTO                            141 non-null    bool
 8   Orbit_HEO                            141 non-null    bool
 9   Orbit_ISS                            141 non-null    bool
 10  Orbit_LEO                            141 non-null    bool
 11  Orbit_MEO                            141 non-null    bool
 12  Orbit_PO                             141 non-null    bool
 13  Orbit_SSO                            141 non-null    bool
 14  Orbit_TLI                            141 non-null    bool
 15  Orbit_VLEO                           141 non-null    bool
 16  LaunchSite_CCSFS SLC 40              141 non-null    bool
 17  LaunchSite_KSC LC 39A                141 non-null    bool
 18  LaunchSite_VAFB SLC 4E               141 non-null    bool
 19  LandingPad_5e9e3032383ecb267a34e7c7  141 non-null    bool
 20  LandingPad_5e9e3032383ecb554034e7c9  141 non-null    bool
 21  LandingPad_5e9e3032383ecb6bb234e7ca  141 non-null    bool
 22  LandingPad_5e9e3032383ecb761634e7cb  141 non-null    bool
 23  LandingPad_5e9e3033383ecb075134e7cd  141 non-null    bool
 24  LandingPad_5e9e3033383ecbb9e534e7cc  141 non-null    bool
 25  Block_1.0                            141 non-null    bool
 26  Block_2.0                            141 non-null    bool
 27  Block_3.0                            141 non-null    bool
 28  Block_4.0                            141 non-null    bool
 29  Block_5.0                            141 non-null    bool
 30  Serial_B1012                         141 non-null    bool
 31  Serial_B1015                         141 non-null    bool
 32  Serial_B1017                         141 non-null    bool
 33  Serial_B1018                         141 non-null    bool
 34  Serial_B1019                         141 non-null    bool
 35  Serial_B1020                         141 non-null    bool
 36  Serial_B1021                         141 non-null    bool
 37  Serial_B1022                         141 non-null    bool
 38  Serial_B1023                         141 non-null    bool
 39  Serial_B1025                         141 non-null    bool
 40  Serial_B1026                         141 non-null    bool
 41  Serial_B1028                         141 non-null    bool
 42  Serial_B1029                         141 non-null    bool
 43  Serial_B1031                         141 non-null    bool
 44  Serial_B1032                         141 non-null    bool
 45  Serial_B1035                         141 non-null    bool
 46  Serial_B1036                         141 non-null    bool
 47  Serial_B1038                         141 non-null    bool
 48  Serial_B1039                         141 non-null    bool
 49  Serial_B1040                         141 non-null    bool
 50  Serial_B1041                         141 non-null    bool
 51  Serial_B1042                         141 non-null    bool
 52  Serial_B1043                         141 non-null    bool
 53  Serial_B1045                         141 non-null    bool
 54  Serial_B1046                         141 non-null    bool
 55  Serial_B1047                         141 non-null    bool
 56  Serial_B1048                         141 non-null    bool
 57  Serial_B1049                         141 non-null    bool
 58  Serial_B1050                         141 non-null    bool
 59  Serial_B1051                         141 non-null    bool
 60  Serial_B1052                         141 non-null    bool
 61  Serial_B1056                         141 non-null    bool
 62  Serial_B1058                         141 non-null    bool
 63  Serial_B1059                         141 non-null    bool
 64  Serial_B1060                         141 non-null    bool
 65  Serial_B1061                         141 non-null    bool
 66  Serial_B1062                         141 non-null    bool
 67  Serial_B1063                         141 non-null    bool
 68  Serial_B1067                         141 non-null    bool
 69  Serial_B1069                         141 non-null    bool
 70  Serial_B1071                         141 non-null    bool
 71  Serial_B1072                         141 non-null    bool
 72  Serial_B1073                         141 non-null    bool
 73  Serial_B1077                         141 non-null    bool
dtypes: bool(70), float64(1), int64(3)
memory usage: 15.1 KB

In [26]:


data.head(2)

,PayloadMass,Flights,Reused,Legs,ReusedCount,Class,Orbit_GEO,Orbit_GTO,Orbit_HEO,Orbit_ISS,...,Serial_B1060,Serial_B1061,Serial_B1062,Serial_B1063,Serial_B1067,Serial_B1069,Serial_B1071,Serial_B1072,Serial_B1073,Serial_B1077
11,2395.0,1,False,True,0,0,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
13,1898.0,1,False,True,0,0,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

> **Convert** Data to Float Values

In [27]:
data.astype(float)

,PayloadMass,Flights,Reused,Legs,ReusedCount,Class,Orbit_GEO,Orbit_GTO,Orbit_HEO,Orbit_ISS,...,Serial_B1060,Serial_B1061,Serial_B1062,Serial_B1063,Serial_B1067,Serial_B1069,Serial_B1071,Serial_B1072,Serial_B1073,Serial_B1077
11,2395.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1898.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,2477.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,2034.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,553.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,13260.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
164,13260.0,7.0,1.0,1.0,6.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
165,13260.0,6.0,1.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
166,13260.0,4.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
167,3654.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [28]:
data.to_csv("Wrangled_data.csv", index=False)