In [1]:
#libraries And auxiliary Variables

import pandas as pd
import numpy as np






data_path = "falcon_9_cleaned_data.csv"

### Understand the Data Structure

In [3]:
dataset = pd.read_csv(data_path)

##### Assessing the Dataset's size, types, and format

In [9]:
dataset.dtypes

FlightNumber        int64
date               object
BoosterVersion     object
PayloadMass       float64
LaunchSite         object
Latitude          float64
Longitude         float64
Orbit              object
Flights           float64
Reused               bool
GridFins             bool
Legs                 bool
LandingPad         object
ReusedCount       float64
Serial             object
Block             float64
Outcome            object
dtype: object

In [25]:
dataset.shape

(167, 17)

In [26]:
dataset.isnull().sum()

FlightNumber       0
date               0
BoosterVersion     0
PayloadMass        0
LaunchSite         0
Latitude           0
Longitude          0
Orbit              0
Flights            0
Reused             0
GridFins           0
Legs               0
LandingPad        26
ReusedCount        0
Serial             0
Block              0
Outcome            0
dtype: int64

In [27]:
dataset.head(n=1) #sample

,FlightNumber,date,BoosterVersion,PayloadMass,LaunchSite,Latitude,Longitude,Orbit,Flights,Reused,GridFins,Legs,LandingPad,ReusedCount,Serial,Block,Outcome
0,1,2010-06-04,Falcon 9,8183.607718,CCSFS SLC 40,28.561857,-80.577366,LEO,1.0,False,False,False,NaN,0.0,B0003,1.0,None None

In [32]:
# Unique values in the DataSet

print(dataset['BoosterVersion'].unique())

print("\n\n\n\n")

print(dataset['LaunchSite'].unique())

print("\n\n\n\n")

print(dataset['Orbit'].unique())

print("\n\n\n\n")

print(dataset['Outcome'].unique())

print("\n\n\n\n")

print(dataset['LandingPad'].unique())

print("\n\n\n\n")

['Falcon 9']





['CCSFS SLC 40' 'VAFB SLC 4E' 'KSC LC 39A']





['LEO' 'ISS' 'PO' 'GTO' 'ES-L1' 'SSO' 'HEO' 'MEO' 'VLEO' 'SO' 'GEO' 'TLI']





['None None' 'False Ocean' 'True Ocean' 'False ASDS' 'None ASDS'
 'True RTLS' 'True ASDS' 'False RTLS']





[nan '5e9e3032383ecb761634e7cb' '5e9e3032383ecb6bb234e7ca'
 '5e9e3032383ecb267a34e7c7' '5e9e3033383ecbb9e534e7cc'
 '5e9e3032383ecb554034e7c9' '5e9e3033383ecb075134e7cd']

In [ ]:
dataset['PayloadMass'].describe()


#Meaning:
#   average weight in kg    : ~8200 Kg
#   Max noted capacity      :  15600 kg
#   Min used Capacity       :  330 Kg

count      167.000000
mean      8190.139593
std       5160.288058
min        330.000000
25%       3414.000000
50%       8183.607718
75%      13260.000000
max      15600.000000
Name: PayloadMass, dtype: float64

In [ ]:
dataset['ReusedCount'].describe()

# takeaway:
#   a Falcon-9 Booster is (on average) is used 11 out of 20 times
#   maximum, it is Used 13 times

count    167.000000
mean       5.502994
std        4.695389
min        0.000000
25%        1.000000
50%        5.000000
75%        9.000000
max       13.000000
Name: ReusedCount, dtype: float64

In [53]:
gridfins_Value_count = dataset['GridFins'].value_counts()

gridfins_true_percentage = dataset['GridFins'].value_counts()/gridfins_Value_count.sum()
print(gridfins_true_percentage.round(2) * 100)


# Gridfins are Used 88% of the times

GridFins
True     88.0
False    12.0
Name: count, dtype: float64